html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0f1923;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  padding: 20px;

}

.agent-list-container{

}

.agent-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.agent-card{
  background: #1c252f;
  padding: 15px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s;
}

.agent-card:hover{
  transform:scale(1.05);
}

.agent-icon{
  max-width: 100%;
  display:block;
}

.role-filters{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.role-filters button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background-color: #2a3440;
  color: white;
  transition: background-color 0.2s;
}

.role-filters button:hover {
  background-color: #3c4a58;
}

.role-filters button.active{
  background-color: #ff4655;
}

.modal{
  position: fixed;      /* Take it out of normal flow, pin to viewport */
  width: 100vw;         /* full width */
  height: 100vh;        /* full height */
  background: rgba(0, 0, 0, 0.7); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;        /* Make sure it's above everything else */
}

.modal-content {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
 
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0,0,0,0.8); /* nice glow */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ff4655;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-body{
  display: flex;
  gap: 20px;
  max-height: 70vh;
}

.agent-pic{
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 70vh;
}

.agent-pic img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.agent-info{

}

.abilities{
  margin-top: 20px;
}

.ability-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.ability-card {
  background: #222;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
}


.ability-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


/* Mobile: stack vertically */
@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
  }
  .agent-pic, .agent-info {
    flex: 100%;
  }
}